#banner {
    background-color: burlywood;
    height: 130px;
    width: 102%;
    margin-left: -9px;
}

#banner h1 {
    padding-top: 50px;
    margin-left: 45vw;
}

#table-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid gold;
    padding: 5%;
    background-color: aliceblue;
    width: 750px;
}

#table-section table {
    max-width: 100px;
}


li {
    padding: 5px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    color: cornflowerblue;
    font-size: 1.01em;
}

button {
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    margin-right: 10px;
}


.header-cell {
    border-bottom: 1px solid grey;
    font-weight: bold;
    font-size: 1.15em;
}

.column-1 {
    width: 5vw;
}

.column-2 {
    width: 12vw;
}

.column-4,
.column-5,
.column-6 {
    width: auto;
}

.view,
.edit,
.del {
    padding-bottom: 12.5px;
}

.view button,
.view-all {
    background-image: url("../assets/view2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.edit button,
.edit-all {
    background-image: url("../assets/edit2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.del button {
    border: none;
    background-image: url("../assets/delete2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

input,
.btn-accept,
.btn-decline,
.text-input {
    margin-bottom: 12.5px;
}

.text-input {
    margin: 0 10px;
}

.btn-decline {
    border: none;
    background-image: url("../assets/decline.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-accept {
    border: none;
    background-image: url("../assets/checkmark.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-add {
    border: none;
    background-image: url("../assets/create.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.lbl-create {
    position: relative;
}

.lbl-create:hover {
    cursor: pointer;
}

.div-create {
    width: 160px;
    height: 50px;
}

.div-create button {
    margin-right: 10px;
}

.util-top {
    position: relative;
    border: 5px solid gold;
    margin-top: -80px;
}

button:hover {
    cursor: pointer;
    background-color: gainsboro
}