* {
    font-family: sans-serif;
    margin-top: 12px;
}

html {
    /* background-color: beige; */
    background-image: url('../assets/background_red.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
